// Styling for the masthead
header.masthead {
  text-align: center;
  color: rgb(50, 50, 50);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)); //, url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 100%;

  .image-gauche, .image-droite {
    position: absolute;
    bottom: 0;
    width: 150px; /* Ajuste la largeur selon tes besoins */
    height: auto;
    z-index: 0;
    transition: width 0.3s ease;
  }
  .image-gauche {
    left: 0;
  }

  .image-droite {
    right: 0;
  }

  .i
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    z-index: 1;
    .intro-lead-in {
      font-size: 50px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 150px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
      .image-gauche,
      .image-droite {
        width: 400px;
      }
  }
}
